**/*
!package.json
!README.md
!CHANGELOG.md
!.mewra-blackbox.json.example
!LICENSE
!PRIVACY.md
!SECURITY.md
!docs/**
!schemas/**
!dist/extension.cjs
!dist/viewer.js
!dist/viewer.css
!dist/vendor/**
**/*.map
**/test/**
**/tests/**
**/node_modules/**
**/.env*
**/*.png
**/*.zip
**/*.trace
